
*{
    background-color: darkkhaki;
}

.example-margin{
    color : red;
}

button[class^='raise'] {
    text-transform: uppercase;
}

.example-card {
    background: lightgray;
    max-width: 700px;
    margin-bottom: 8px;
  }